#map {
    height:480px;
    width:720px;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

div {
	margin-right: 3px;
}

h2 {
    margin-bottom:0;
    margin-top: 0;
}